@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@0,400..700;1,400..700&family=Montserrat+Subrayada:wght@400;700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@0,400..700;1,400..700&family=Geist+Mono:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat+Subrayada:wght@400;700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, a {
    font-family: "Geist Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

p, span {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
