@keyframes slideInLeft {
    0% {
        transform: translateX(-80%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
//
.slide-in-left {
    animation: slideInLeft 0.9s ease-out;
}

.projects.card-img-top {
    width: 100%; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    max-height: 200px; /* Set a maximum height */
    object-fit: cover; /* Ensure the image covers the area */
  }
  .projects.card {
    transition: box-shadow 0.1s ease-in-out, transform 0.3s ease-in-out;
  }
  
  .projects.card:hover {
    box-shadow: 0 0 15px rgba(234, 0, 255, 0.5), 0 0 25px rgba(234, 0, 255, 0.3), 0 0 35px rgba(234, 0, 255, 0.2);
    transform: scale(1.05); /* Slightly scale the card on hover */
  }
  
  .projects.card-img-top {
    width: 100%; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    max-height: 200px; /* Set a maximum height */
    object-fit: cover; /* Ensure the image covers the area */
  }
  .neon-purple {
    color: white;
    background-color: #00bfff; /* Neon blue base color */
    border: none;
    transition: all 0.3s ease-in-out;
  }
  .neon-purple:hover {
    color: #ffffff; /* Inverted color for text */
    background-color: #00bfff; /* Neon blue base color */
    box-shadow: 0 0 15px #00bfff, 0 0 30px #00bfff, 0 0 45px #00bfff;
    transform: scale(1.1); /* Slight hover effect */
  }